.sidebar {
  position: fixed;
  width: 20%;
  height: 100%;
  background: #62b6cb;
  margin: -10px;
  padding: 0;
  box-shadow: black;
  border-radius: 0 20px 20px 0;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  overflow: scroll;
}
.fa-chevron-left {
  background-color: #62b6cb;
  transition-duration: 0.5s;
}

.start_over_button_container {
  background-color: #62b6cb;
  margin-top: 20px;
}
.start_over_button {
  font-size: 17px !important;
  transition-duration: 0.5s;
}
.start_over_button:hover,
.start_over_button:hover * {
  background-color: #bdd6d6;
  color: #646a6b;
  font-size: 19px !important;
}
.sidebar:hover {
  border-radius: 0 100px 100px 0;
}

.sidebar h2 {
  text-align: center;
  background: #62b6cb;
  margin-bottom: 30px;
  width: 80%;
  margin-top: 15px;
}

.sidebar ul {
  background: #62b6cb;
  padding: 0;
  margin-left: 10px;
}
.sidebar ul li {
  padding: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #62b6cb;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  font-size: 13px;
}
.far {
  background-color: #62b6cb;
}

.sidebar ul li.enabled:hover {
  font-size: 14px;
}

.sidebar ul .disabled {
  color: grey;
}

.sidebar .curr-item {
  font-weight: bolder;
  font-size: 16px;
}
